<div class="max-w-screen-md mx-auto px-2 mt-16">
  <div class="flex items-center text-center gap-1 mb-2">
    <div class="cursor-pointer px-2 py-4 flex justify-center items-center" routerLink="../">
      <mat-icon>chevron_left</mat-icon>
    </div>
    <h1 class="font-display font-semibold text-2xl">Add stock item</h1>

    <div (click)="save()"
         class="ml-auto font-display text-item-light text-lg font-medium text-center py-1 px-2 bg-primary rounded-lg cursor-pointer">
      <div class="w-16 h-8 flex justify-center items-center">
        <span *ngIf="!busy else busySpinner">Save</span>
      </div>
      <ng-template #busySpinner>
        <mat-spinner class="w-14 h-7" diameter="25"/>
      </ng-template>
    </div>
  </div>
  <app-stock-item-form/>
</div>
