@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  --tw-bg-opacity: 1;
  background-color: rgb(253 244 255 / var(--tw-bg-opacity));
}

.orb-shadow {
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
}

.mat-bottom-sheet-container {
  max-height: unset !important;
  padding: 0 !important;
  overflow: hidden !important;
}

.mat-drawer-container {
  background-color: inherit !important;
}
