@tailwind base;
@tailwind components;
@tailwind utilities;

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  @apply bg-base-light text-gray-800;
}

.orb-shadow {
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
}

.mat-bottom-sheet-container {
  max-height: unset !important;
  padding: 0 !important;
  overflow: hidden !important;
}

.primary-spinner .mdc-circular-progress__indeterminate-circle-graphic {
  stroke: #5B7CFD !important;
}

.white-spinner .mdc-circular-progress__indeterminate-circle-graphic {
  stroke: white !important;
}

.mat-drawer-container {
  background-color: inherit !important;
}

.mdc-list-item {
  @apply bg-item-light;
}


.placeholder {
  min-height: 1em;
  vertical-align: middle;
  cursor: wait;
  background-color: #000;
  opacity: .2;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 0.5rem;
  color: transparent;
  width: 100%;

  -webkit-animation: placeholder-glow 2s ease-in-out infinite;
  animation: placeholder-glow 2s ease-in-out infinite;
}

@keyframes placeholder-glow {
  50% {
    opacity: .05;
  }
}
