<div class="relative cursor-pointer">
  <div class="flex flex-col flex-grow gap-0.5 justify-center items-center py-4 md:px-9 md:gap-6 md:flex-row md:justify-start">
    <mat-icon [ngClass]="{'max-md:text-purple-500' : active}" class="material-icons-outlined">{{entry.icon}}</mat-icon>
    <p [ngClass]="{'max-md:text-purple-500' : active, 'max-md:font-medium' : active}" class="font-display font-light md:font-medium select-none block md:hidden lg:block">{{entry.text}}</p>
  </div>

  <div *ngIf="active" class="hidden md:block absolute w-full h-full top-0 left-0">
    <div class="selected-background"></div>
    <div class="absolute w-1 h-full top-0 left-0 bg-purple-500 rounded-sm"></div>
  </div>
</div>
