<ng-container *ngIf="showMobileView$ | async else desktopView">
  <mat-sidenav-container class="w-full min-h-full">
    <mat-sidenav #sidenav
                 [fixedInViewport]="true"
                 mode="over"
                 class="w-full sm:w-4/5 fixed">
      <app-side-menu [layoutType]="SideMenuLayouts.Full" [showCloseButton]="true" (onClose)="sidenav.close()"/>
    </mat-sidenav>

    <mat-sidenav-content class="bg-fuchsia-50">
      <app-bottom-menu/>
      <div class="fixed top-0 left-0 z-50">
        <orb-button icon="menu" (click)="sidenav.open()"/>
      </div>
      <div class="pb-16">
        <ng-container *ngTemplateOutlet="content"/>
      </div>
    </mat-sidenav-content>
    </mat-sidenav-container>
</ng-container>

<ng-template #desktopView>
  <ng-container *ngIf="sideMenuLayout$ | async as layout">
    <app-side-menu class="fixed top-0 left-0 h-full" [layoutType]="layout"/>
    <div [ngClass]="{'pl-72' : layout == SideMenuLayouts.Regular, 'pl-24' : layout == SideMenuLayouts.Compact}" class="bg-fuchsia-50">
      <ng-container *ngTemplateOutlet="content"/>
    </div>
  </ng-container>
</ng-template>

<ng-template #content>
  <ng-content/>
</ng-template>
