<ng-container *ngIf="showMobileView$ | async else desktopView">
  <app-bottom-menu/>

  <mat-sidenav-container class="w-full min-h-full">
    <mat-sidenav #sidenav mode="over" class="w-full sm:w-4/5">
      <app-side-menu [layoutType]="SideMenuLayouts.Full" (onClose)="sidenav.close()"/>
    </mat-sidenav>

    <mat-sidenav-content>
      <orb-button icon="menu" (click)="sidenav.open()"/>
      <div class="pb-20 bg-inherit">
        <ng-container *ngTemplateOutlet="content"/>
      </div>
    </mat-sidenav-content>
    </mat-sidenav-container>
</ng-container>

<ng-template #desktopView>
  <ng-container *ngIf="sideMenuLayout$ | async as layout">
    <app-side-menu class="fixed top-0 left-0 h-full" [layoutType]="layout"/>
    <div [ngClass]="{'pl-72' : layout == SideMenuLayouts.Regular, 'pl-24' : layout == SideMenuLayouts.Compact}">
      <ng-container *ngTemplateOutlet="content"/>
    </div>
  </ng-container>
</ng-template>

<ng-template #content>
  <ng-content/>
</ng-template>
