<div class="max-w-screen-sm mx-auto px-2 mt-6">
  <div class="flex items-center text-center gap-1 mb-2">
    <div class="cursor-pointer px-2 py-4 flex justify-center items-center" routerLink="../">
      <mat-icon>chevron_left</mat-icon>
    </div>
    <h1 class="font-display font-semibold text-2xl">Register</h1>
  </div>
  <app-form-field [requiredError]="hasRequiredError('organisationName')">
    <app-form-label>Organisation Name</app-form-label>
    <input appInput placeholder="Organisation Name" [formControl]="getControl('organisationName')"/>
    <app-form-error *ngIf="hasErrors('organisationName')">Must be between 3-32 character long</app-form-error>
  </app-form-field>
  <app-form-field [requiredError]="hasRequiredError('email')">
    <app-form-label>Administrator Email</app-form-label>
    <input appInput placeholder="Email" [formControl]="getControl('email')"/>
    <app-form-error *ngIf="hasErrors('email')">Must be a valid email</app-form-error>
  </app-form-field>
  <app-form-field [requiredError]="hasRequiredError('password')">
    <app-form-label>Password</app-form-label>
    <input appInput placeholder="Password" type="password" [formControl]="getControl('password')"/>
    <app-form-error *ngIf="hasErrors('password')">Password not secure enough</app-form-error>
  </app-form-field>
  <app-form-field [requiredError]="hasRequiredError('confirmPassword')">
    <app-form-label>Confirm Password</app-form-label>
    <input appInput placeholder="Confirm Password" type="password" [formControl]="getControl('confirmPassword')"/>
    <app-form-error
      *ngIf="hasErrors('confirmPassword')">
      Passwords must match</app-form-error>
  </app-form-field>

  <div [ngClass]="{'pointer-events-none cursor-auto bg-gray-500' : !form.valid}"
       (click)="register()"
       class="ml-auto mt-8 font-display text-item-light text-lg font-medium text-center py-2 bg-primary rounded-lg cursor-pointer">
    <div class="flex justify-center items-center">
      <span *ngIf="!busy else busySpinner">Register</span>
    </div>
    <ng-template #busySpinner>
      <mat-spinner diameter="28"/>
    </ng-template>
  </div>
</div>
