<section class="relative">
  <div class="max-w-3xl mx-auto px-4 sm:px-6">
    <div class="pt-32 pb-12 md:pt-40 md:pb-20">
      <div class="text-center pb-12 md:pb-16">
        <h1 class="text-5xl md:text-6xl font-extrabold leading-tighter tracking-tighter mb-4">Time to demo<br><span class="bg-clip-text text-transparent bg-gradient-to-r from-primary to-teal-400">umbrella</span></h1>
        <div class="max-w-lg mx-auto">
          <p class="text-xl text-gray-600 mb-8">An example of carefully crafted UI/UX design, efficient module loading and use of a NoSQL database</p>
          <div class="max-w-xs mx-auto sm:max-w-none flex flex-col sm:flex-row justify-center font-light text-2xl gap-2 text-white mb-8">
            <div class="cursor-pointer bg-primary px-4 py-2 rounded-md" routerLink="/login">
              <span>Login</span>
            </div>
            <div class="cursor-pointer bg-black px-4 py-2 rounded-md" (click)="demoLogin()">
              <span>Try Demo</span>
            </div>
          </div>
          <a class="text-lg text-primary-deep font-medium underline cursor-pointer" routerLink="/register">Register your Organisation</a>
        </div>
      </div>
    </div>
  </div>
</section>
