<app-form-field [requiredError]="hasRequiredError('partCode')">
  <app-form-label>Partcode</app-form-label>
  <app-form-text placeholder="Partcode" [formControl]="getControl('partCode')"/>
</app-form-field>
<app-form-field [requiredError]="hasRequiredError('description')">
  <app-form-label>Description</app-form-label>
  <app-form-text placeholder="Description" [formControl]="getControl('description')"/>
</app-form-field>
<app-form-field>
  <app-form-label>Location</app-form-label>
  <app-form-text placeholder="Location" [formControl]="getControl('location')"/>
</app-form-field>
<app-form-field>
  <app-form-label>Category</app-form-label>
  <app-form-typeahead placeholder="Category"
                      [formControl]="getControl('category')"
                      [optionSource]="categoryOptions$"/>
</app-form-field>
