<div class="w-60 fixed p-2 pb-16 pr-0 h-screen" *ngIf="!(showCompactFilters$ | async)">
  <app-query-filter [compact]="false" entityName="stockItem" (params)="applyFilter($event)"/>
</div>

<div class="xl:pl-60 mt-16">
  <div class="fixed top-0 right-0 flex justify-end w-full pl-[3.5rem] md:pl-24 xl:pl-72 xl:justify-start z-50">
    <orb-search [alwaysOpen]="!(showCompactFilters$ | async)!" class="flex-grow"/>
    <orb-button *ngIf="showCompactFilters$ | async" (click)="openFilters()" icon="tune"/>
    <orb-button routerLink="new" icon="add"/>
  </div>

  <mat-list class="!p-2">
    <ng-container *ngIf="stockItems else loading">
      <ng-container *ngIf="stockItems.length > 0 else empty">
        <mat-list-item *ngFor="let item of stockItems" class="!bg-item-light !rounded-lg !mb-0.5 !cursor-pointer" [routerLink]="[item.id]">
          <span matListItemTitle>{{item.partCode}}</span>
          <span matListItemLine>{{item.description}}</span>
        </mat-list-item>

        <div *ngIf="!(lastPage$ | async)" isVisible [bottomOffset]="120" (onBecomeVisible)="loadNextPage()" class="h-20">
          <ng-container *ngTemplateOutlet="loading"></ng-container>
        </div>
      </ng-container>
    </ng-container>
  </mat-list>

</div>

<ng-template #loading>
  <mat-list-item *repeat="3" class="!bg-item-light !rounded-lg !mb-0.5">
    <ngx-skeleton-loader appearance="line" [theme]="{'display' : 'block', 'margin-bottom' : '2px', 'height' : '1.25rem', width: '6rem'}"/>
    <ngx-skeleton-loader appearance="line" [theme]="{'display' : 'block', 'margin-bottom' : '0', 'height' : '0.75rem', width: '12rem'}"/>
  </mat-list-item>
</ng-template>

<ng-template #empty>
  <mat-list-item class="!bg-item-light !rounded-lg !mb-0.5">
    <span matListItemTitle>There are no results.</span>
  </mat-list-item>
</ng-template>
