<div
  [ngClass]="{'cursor-pointer' :  enabled, 'opacity-20' : disabled, 'bg-primary-highlight': active}"
  class="relative text-item-faded-light">
  <div class="flex flex-col justify-center items-center py-2">
    <mat-icon>
      {{icon}}
    </mat-icon>
    <p
       class="font-display text-xs font-medium select-none">{{text}}
    </p>
  </div>

  <div *ngIf="active" class="absolute w-full h-full top-0 left-0">
    <div class="absolute h-0.5 w-full top-0 left-0 bg-primary-deep rounded-sm"></div>
  </div>
</div>
