<input
  [ngClass]="{'border-2 border-red-400' : !valid, '!bg-gray-300' : control.disabled}"
  type="text"
  [placeholder]="placeholder"
  [matAutocomplete]="auto"
  [formControl]="control"
  (focus)="getOptionsFromSource()"
  class="focus:outline-none focus:blur-0 min-w-0 w-full h-12 rounded-lg px-3 bg-item-light border">

<mat-autocomplete #auto="matAutocomplete">
  <mat-option disabled *ngIf="optionsLoading$ | async">
    <mat-spinner class="primary-spinner" diameter="25"/>
  </mat-option>
  <mat-option *ngFor="let item of options" [value]="item">{{item}}</mat-option>
</mat-autocomplete>
