<div class="max-w-screen-md mx-auto px-2 mt-16">
  <div class="flex items-center text-center gap-1 mb-2">
    <div class="cursor-pointer px-2 py-4 flex justify-center items-center" routerLink="../">
      <mat-icon>chevron_left</mat-icon>
    </div>
    <h1 class="font-display font-semibold text-2xl">Edit stock item</h1>

    <p (click)="save()"
       class="ml-auto font-display text-item-light text-lg font-medium text-center py-1 px-4 bg-primary rounded-lg cursor-pointer">
      Save</p>
  </div>
  <app-stock-item-form *ngIf="stockItem$ | async else ghostForm" />
</div>

<ng-template #ghostForm>
  <app-form-field>
    <input appInputGhost class="placeholder">
  </app-form-field>
  <app-form-field>
    <input appInputGhost class="placeholder">
  </app-form-field>
  <app-form-field>
    <input appInputGhost class="placeholder">
  </app-form-field>
</ng-template>
