<div class="flex fixed top-0 left-0 h-full bg-[#f1f1f1] flex-col select-none py-9 justify-between rounded-r-lg {{widthClass}}">
  <div>
    <div class="px-6 flex flex-col gap-8 justify-center items-center mb-8">
      <div class="rounded-full w-12 h-12 bg-amber-200">
        <img src=""
             alt="Profile picture"
             *ngIf="!showDefaultAvatar else defaultAvatar"
             (error)="showDefaultAvatar = true">
      </div>

      <div *ngIf="layoutType != SideMenuLayouts.Compact" class="w-full bg-[#F2EBFB] rounded-lg py-2.5 px-4 cursor-pointer justify-between">
        <span class="font-light font-display">Hi, User</span>
        <mat-icon>expand_more</mat-icon>
      </div>
    </div>

    <app-side-menu-button icon="home" text="Home" />
    <app-side-menu-button icon="dashboard_customize" text="Stock" />
    <app-side-menu-button icon="qr_code_scanner" text="Products" />
    <app-side-menu-button icon="design_services" text="Services" />
    <app-side-menu-button icon="receipt_long" text="Supply" />
    <app-side-menu-button icon="sell" text="Sales" />
  </div>

  <app-side-menu-button icon="help_outline" text="Support" />
</div>

<ng-template #defaultAvatar>
  <div class="w-full h-full flex justify-center items-center">
    <span class="font-display font-regular text-xl">M</span>
  </div>
</ng-template>
