<div class="flex flex-col relative bg-item-light rounded-lg h-full">
  <div class="flex justify-between px-4 items-center select-none h-20 w-full">
    <div class="cursor-pointer min-w-[1.5rem]">
      <mat-icon *ngIf="(filter?.navigationPath$ | async)! != -1" (click)="pageBack()">chevron_left</mat-icon>
    </div>

    <p class="font-display my-5 text-2xl font-medium mx-auto text-center">Filters</p>

    <div class="cursor-pointer" *ngIf="compact" (click)="onClose.emit()">
      <mat-icon>close</mat-icon>
    </div>
  </div>

  <div class="relative overflow-auto overflow-x-hidden flex-grow min-h-[10rem]" >
    <ng-container *ngIf="filter else ghosts">
      <div [@fadeIn]="animationDirection">
        <ng-container *ngTemplateOutlet="optionsTemplate; context: {$implicit: {data: filter.navigationOptions$ | async}}">
        </ng-container>
      </div>

      <div [@fadeOut]="animationDirection" class="pointer-events-none hidden absolute top-0 left-0 w-full">
        <ng-container *ngTemplateOutlet="optionsTemplate; context: {$implicit: {data: previousOptions$ | async}}">
        </ng-container>
      </div>
    </ng-container>
  </div>

  <div class="flex justify-center items-center m-6">
    <p (click)="emitValue()"
       class="font-display text-item-light text-lg font-medium text-center py-1 bg-primary rounded-lg basis-96 cursor-pointer">
      Apply</p>
  </div>
</div>

<ng-template #ghosts>
  <filter-ghost-list />
</ng-template>

<ng-template #optionsTemplate let-d>
  <ul class="px-6">
    <ng-container *ngFor="let option of d.data">
      <li
        class="p-1.5 cursor-pointer border-b border-gray-200"
        [ngClass]="{'text-violet-700' : isOptionEnabled(option)}"
        (click)="handleOptionClick(option)">
        <div class="flex justify-between items-center">
          <p class="font-display text-base font-normal select-none">{{option.displayValue}}</p>
          <mat-icon *ngIf="option.options?.length > 0">chevron_right</mat-icon>
          <mat-icon *ngIf="isOptionEnabled(option)">done</mat-icon>
        </div>
        <div class="flex flex-row gap-x-2 flex-wrap">
          <span class="leading-tight text-violet-700 text-xs font-display" *ngFor="let param of filter.getActiveOptions(option)">{{param.displayValue}}</span>
        </div>
      </li>
    </ng-container>
  </ul>
</ng-template>
