<div class="fixed bottom-0 left-0 w-full bg-primary h-14 z-50 rounded-t-lg">
  <div class="flex justify-around items-center">
    <bottom-menu-button class="flex-grow" icon="home" text="Home" [disabled]="true"/>
    <bottom-menu-button
      class="flex-grow"
      icon="dashboard_customize"
      text="Stock"
      [active]="(activeRoot$ | async) == RootFeatures.STOCK_ROOT"
      routerLink="/stock" />
    <bottom-menu-button class="flex-grow" icon="qr_code_scanner" text="Products" [disabled]="true"/>
    <bottom-menu-button class="flex-grow" icon="sell" text="Sales" [disabled]="true"/>
    <bottom-menu-button class="flex-grow" icon="more_horiz" text="More" [disabled]="true"/>
  </div>
</div>
