<div class="fixed bottom-0 left-0 w-full bg-[#FBFAFF] h-14">
  <div class="flex justify-around items-center">
    <bottom-menu-button class="flex-grow" icon="home" text="Home" />
    <bottom-menu-button class="flex-grow" icon="dashboard_customize" text="Stock" />
    <bottom-menu-button class="flex-grow" icon="qr_code_scanner" text="Products" />
    <bottom-menu-button class="flex-grow" icon="sell" text="Sales" />
    <bottom-menu-button class="flex-grow" icon="more_horiz" text="More" />
  </div>
</div>
